<?xml version="1.0" encoding="UTF-8"?>  
    <!DOCTYPE configuration   
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="logImpl" value="LOG4J" />
		<!-- PARTIAL:自动把属性名和列名相同的数据，进行设置值（在有association或collection标签会失效） -->
		<!-- FULL:自动把属性名和列名相同的数据，进行设置值（在有association或collection标签也是有效的） -->
		<setting name="autoMappingBehavior" value="FULL" />
		<!-- 启用二级缓存 -->
		<setting name="cacheEnabled" value="true" />
	</settings>
	<typeAliases>
		<!--这里给实体类取别名，方便在mapper配置文件中使用 -->
		<package name="com.t239.entity" />
	</typeAliases>
</configuration>  